.product-item {
    width:300px;
    border: black 2px solid;
    padding-left: 10px;
    padding-right: 10px;
}

.product-img-div {
    /* background:black; */
 
    width:100%;
    height:360px;
    /* background: url("../../images/placeholder1.png") cover no-repeat; */
}

.product-img-div img {
    /* background:black; */
    width:100%;
    height:100%;

    /* background: url("../../images/placeholder1.png") cover no-repeat; */
}

/* .modify-btns {
display: flex;
justify-content: space-between;
width:70%
} */
.modify-product  {
    /* padding: 10px;
    color:blue;
    text-decoration: underline;
    cursor: pointer;
    text-decoration: none; */
    background: #871f78;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    width: 80%;
    margin: 0 auto;
    margin-top:25px;
    font-weight:bold;
    font-size:14px;
    height:50px;
    border-radius:5px;

}
.modify-product2  {
    /* padding-left: 20px;
    color:red;
    text-decoration: underline;
    cursor: pointer;
    text-decoration: none; */
    background: #871f78;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    width: 80%;
    margin: 0 auto;
    margin-top:25px;
    font-weight:bold;
    font-size:14px;
    height:50px;
    border-radius:5px;
}


.product-quick-view {
    width:100%;
    height:100%;
    background:#fff;
    border:1px solid red;
    display:none;
    /* visibility: hidden; */
    
}

/* .product-quick-view:hover > .button .button:hover {
    
    color:#fff;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    background:blue;
    
}  */

.button {
    width:90%;
    text-align: center;
    background: #871f78;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    width: 80%;
    margin: 0 auto;
    margin-top:25px;
    font-weight:bold;
    font-size:14px;
    height:50px;
    border-radius:5px;
    padding:10px 20px;
    display: none;

    /* visibility: hidden; */
    /* margin:0 auto; */
}

.product-content-details {
    text-align: center;
}

