.product-item {
 
    width:573px
}

.product-img-div {
    background:black;
    padding:20px;
    width:100%;
    height:540px;

}

.product-quick-view {
    visibility: visible;
}

.product-quick-view:hover {
    visibility: visible;
    transition: 0.3s;
    background: #333;
    color:#fff;
    width:300px;
    /* height: 100px; */
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.product-quick-view button {
    width:100%;
    text-align: center;
}

