.product-item {
 
    width:340px
}

.product-img-div {
    /* background:black; */
    width:100%;
    height:360px;
    /* background: url("../../images/placeholder1.png") cover no-repeat; */
}

.product-img-div img {
    /* background:black; */
    width:100%;
    height:100%;

    /* background: url("../../images/placeholder1.png") cover no-repeat; */
}

/* .modify-btns {
display: flex;
justify-content: space-between;
width:70%
} */

.modify-product  {
    color:blue;
    text-decoration: underline;
    cursor: pointer;
}


.product-quick-view {
    width:100%;
    height:100%;
    background:#fff;
    border:1px solid red;
    display:none;
    /* visibility: hidden; */
    
}

/* .product-quick-view:hover > .button .button:hover {
    
    color:#fff;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    background:blue;
    
}  */

.button {
    width:90%;
    text-align: center;
    background: #333;
    color:#fff;
    border:none;
    padding:10px 20px;
    display: none;

    /* visibility: hidden; */
    /* margin:0 auto; */
}

.product-content-details {
    text-align: center;
}

