nav {
    margin-left: 12vw;
    max-width: 1024px;
    background: yellow;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
a {
    text-decoration: none;
}